@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  background: #0c0c0c;
  color: aliceblue;
  overflow-x: hidden;
}

.photo {
  animation: morph 8s ease-in-out infinite;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #3a3939;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
  margin-bottom: 20px;
  position: relative;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.heading {
  background: -webkit-linear-gradient(95deg, #ffffff 0%,  #b20cea 100%);
  font-size: 6rem;
  font-weight: 600;
  text-align: left;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-block: 0;
  white-space: nowrap;
  /* letter-spacing: .44rem; */
}

.Type {
  background: -webkit-linear-gradient(94deg, #ffffff 0%,  #b20cea 100%);
  font-size: 6rem;
  font-weight: 600;
  text-align: left;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  /* letter-spacing: .44rem; */
  animation: typing 2s steps(28, end) infinite;
}
@media(max-width:1024px)
{
  .heading{
    font-size: 4rem;
  }
  .Type{
    font-size: 4rem;
  }
}
@media(max-width:768px)
{
  .heading{
    font-size: 3rem;
  }
  .Type{
    font-size: 3rem;
  }
}
@media(max-width:600px)
{
  .heading{
    font-size: 2rem;
  }
  .Type{
    font-size: 2rem;
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 1rem;
  border-radius: .5rem;
  background: #212025;
  background-size: 400%;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttonContent {
  position: relative;
  top: 25%;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

.logo_jump {
  display: inline-block;
  transition: transform 0.3s ease;
}

.logo_jump:hover {
  transform: translateY(-1.8px);

}